/* CSS for All the Menus START */
ul.ws_css_cb_menu {
	background-image:url('../images/menu_bg.gif');
	background-repeat:repeat-x;
	background-position:top left;
	width: 100%;
	font:bold 17px Garamond; /* 13px Arial, Helvetica, sans-serif; */
	display:block;
	float: left;
	height:33px;
	/*-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;*/
	border: 1px solid #A52A2A;
	margin-bottom: 30px;
	overflow: hidden;
}
ul.ws_css_cb_menu li {
	display:block;
	margin:2px 0px 0px 2px;
	float:left;
	/*padding-left: 5px;*/
}

ul.ws_css_cb_menu form {
	display:block;
	margin:6px 0px 0px 2px;
	float:right;
	padding-right: 6%;
	}

#social {
	float:right;
	display:block;
	margin:2px 0px 0px 2px;
	
}

#social a {
	padding:2px;
	vertical-align:middle;
}

#social img {
	width:25px;
	height:25px;
}

ul.ws_css_cb_menu a:hover ul, ul.ws_css_cb_menu a:hover a:hover ul, ul.ws_css_cb_menu a:hover a:hover a:hover ul {
	display:block;
}
ul.ws_css_cb_menu a {
	display:block;
	vertical-align:middle;
	border-width:0px;
	border-color:#6655ff;
	border-style:solid;
	padding:2px;
	_padding-left:0;
	color: #444444;
	text-decoration:none;
	text-align:left;
}
ul.ws_css_cb_menu span {
	overflow:hidden;
}
ul.ws_css_cb_menu li a:hover, ul.ws_css_cb_menu li a {
	padding:9px;
	color:#763319
}
ul.ws_css_cb_menum li a:hover, ul.ws_css_cb_menum li a {
	padding:4px;
	font-weight: normal;
	color: #000
}
ul.ws_css_cb_menu ul {
	position: absolute;
	left:-1px;
	top:98%;
	min-width:160.65px;
	border-left:1px solid #d5a000;
	border-bottom:3px solid #d5a000;
	border-right:3px solid #d5a000;
	border-top:0px;
	background-color:#ffffff;
	/* WIDTH originally 160.65px, changed to try and make wider menu items fit */
}
ul.ws_css_cb_menu ul ul {
	position: absolute;
	left:98%;
	top:-2px;
}
ul.ws_css_cb_menu, ul.ws_css_cb_menu ul {
	margin:0px;
	list-style:none;
	padding:0px 2px 2px 0px;
}
ul.ws_css_cb_menu a:active, ul.ws_css_cb_menu a:focus {
	outline-style:none;
}
ul.ws_css_cb_menu ul li {
	float: left;
	min-width: 150px;
	
	/* WIDTH originally 150px, changed to try and make wider menu items fit */
}
ul.ws_css_cb_menu ul a {
	white-space:nowrap;
	text-align:left;
}
ul.ws_css_cb_menu li:hover {
	position:relative;
}
ul.ws_css_cb_menu li:hover>a {
	background-color:#fff;
	color: #000;
	border-color:#665500;
	border-style:solid;
	text-decoration:none;
}
ul.ws_css_cb_menu li a:hover {
	position:relative;
	background-color:#fff;
	color: #000;
	text-decoration:none;
	border-color:#665500;
	border-style:solid;
}
ul.ws_css_cb_menum li a:hover {
	background-color: #CCBB77
}
ul.ws_css_cb_menu img {
	border: none;
	float:left;
	margin-right:4px;
	width:16px;
	height:16px;
}
ul.ws_css_cb_menu ul img {
	width:16px;
	height:16px;
}
ul.ws_css_cb_menu ul, ul.ws_css_cb_menu a:hover ul ul {
	display:none;
	z-index:99999;
}
ul.ws_css_cb_menu li:hover>ul {
	display:block
}
ul.ws_css_cb_menu span {
	display:block;
	padding-right:1px;
	background-image:url('../images/chevron_down.gif');
	background-position:right center;
	background-repeat: no-repeat;
}
/* CSS for TABLE Tags for IE 6 and Lower START */
ul.ws_css_cb_menu li a table, ul.ws_css_cb_menu li a:hover table {
	border-collapse:collapse;
	margin:-4px 0px 0px -9px;
	border:0px;
	padding:0px;
}
ul.ws_css_cb_menu li a table tr td, ul.ws_css_cb_menu li a:hover table tr td {
	padding:0px;
	border:0px;
}
ul.ws_css_cb_menu li a table ul, ul.ws_css_cb_menu li a:hover table ul {
	border-collapse:collapse;
	padding:0px;
	margin:-4px 0px 0px -9px;
}
ul.ws_css_cb_menu ul span, ul.ws_css_cb_menu a:hover table span {
	background-image:url('../images/chevron_down.gif');
}
ul.ws_css_cb_menu table a:hover span, ul.ws_css_cb_menu table a:hover a:hover span, ul.ws_css_cb_menu table a:hover a:hover a:hover span {
	background-image:url('../images/chevron_down.gif');
}
ul.ws_css_cb_menu table a:hover table span, ul.ws_css_cb_menu table a:hover a:hover table span {
	background-image:url('../images/chevron_down.gif');
}
/* CSS for TABLE Tags for IE 6 and Lower END */
/* CSS for All the Menus END */